body {
  background-color: #0d2235;
  margin: 0;
  padding: 0;
}


.contenido{
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}


img{
  max-width: 100%;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-color {
  background-color: #4B8F8C;
  color: #fff;
}

label {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

button{
  margin-top: 20px;
}